{% extends 'base.html' %}
{% load static %}
{% block start %}

 <!-- Shop Detail Start -->
 <form method="POST" action="{% url 'addtocart' %}" onsubmit="return validateForm()">
    {% csrf_token %}
    <div class="container-fluid pb-1 product_data mb-1">
        <div class="row-5">
            <div class="row px-xl-5">
                <div class="col-lg-3 h-100 w-100 mb-10 pb-10">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner bg-light">
                            <div class="carousel-item active">
                                <img height="100%" width="100%" src="{{pdetails.image.url}}" alt="Image">
                            </div>
            
                        </div>
                        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                            <i class="fa fa-2x fa-angle-left text-dark"></i>
                        </a>
                        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                            <i class="fa fa-2x fa-angle-right text-dark"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 h-auto mb-10 pb-10">
                    <div class="h-100 bg-light p-30">
                        <input type="hidden" value="{{ pdetails.id}}" name="pid" class="prod_id">
                        <h3>{{pdetails.name}}</h3>
                        <div class="d-flex mt-4">
                            <h4>₹{{pdetails.dp}}.00</h4><h5 class="text-muted mt-1 ml-3"><del>₹{{pdetails.op}}.00</del></h5>
                        </div>
                        
                        <p class="mt-4 mb-4">{{pdetails.description}}</p>
                        <div class="d-flex mb-3">
                            
                            <strong class="text-dark mr-2">Sizes:</strong>
                            {% for size in pdetails.size.all %}
                            <div class="form-check form-check-inline mr-3">
                                <input class="form-check-input size-input" type="radio" id="size"  name="size" value="{{ size }}"> 
                                <label class="form-check-label" for="{{size}}">
                                    {{ size }} 
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        {% if pdetails.availableqty > 0 %}
                        <div class="d-flex align-items-center mb-4 pt-2">
                            <div class="input-group quantity mr-3" style="width: 70px;">
                                <div class="input-group-btn">
                                    <input type="number" name="prodqty"  class="form-control bg-secondary border-0 text-center qty-input" value="1" min="1" max="{{pdetails.availableqty}}">
                                </div> 
                            </div>
                        </div>
                        {% else %}
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-danger">Not Available </button>
                        </div>
                        {% endif %}
                        {% if pdetails.availableqty > 0 %}
                            <button type="submit" class="btn btn-primary px-3" id="add-to-cart-btn" ><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
                        {% endif %}
                        
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6"> <!-- Adjust the column width as needed -->
                                    <span style="color: red; font-weight: bold; font-size: 1rem;" id="error-msg"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex pt-4">
                            <strong class="text-dark mr-2">Share on:</strong>
                            <div class="d-inline-flex">
                                <a class="text-dark px-2" href="">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="text-dark px-2" href="">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="text-dark px-2" href="">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a class="text-dark px-2" href="">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Shop Detail End -->
<script>
    document.getElementById('quantity').addEventListener('change', function() {
        const quantity = this.value;
    });

    function validateForm() {
        var sizeRadio = document.getElementsByName("size");
        var isChecked = false;
        
        for (var i = 0; i < sizeRadio.length; i++) {
            if (sizeRadio[i].checked) {
                isChecked = true;
                break;
            }
        }
        
        if (!isChecked) {
            document.getElementById("error-msg").innerHTML = "Please select a size.";
            return false;
        }
        
        return true;
    }
</script>
    
{% endblock start %}

